.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.matrix {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
}
